.Restaurants {
  margin: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

h5 {
  text-align: center;
  margin-top: 10px;
  width: auto;
  font-family: "Nunito", sans-serif;
}

.search {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.restaurantResult {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.list {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}

table {
  width: auto;
  margin-top: 10px;
  border-spacing: 15px;
  color: #444;
}

tr {
  margin-bottom: 20px;
}

th {
  width: auto;
  text-align: left;
  font-size: 20px;
  color: #ffc3f4;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

td {
  width: auto;
  font-size: 15px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}